      #main {
            height: 85vh;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 100px;
            padding-right: 120px;
            align-items: center;
        }

        #blog {
            width: 95%;
            box-shadow: 5px 5px 10px rgb(144, 138, 138);
            display: flex;
            overflow-y: auto;
        }

        #formContainer {
            flex: 1;
            padding: 50px;
            box-sizing: border-box;
            max-height: 80vh;
        }

        #formContainer form {
            width: 100%;
        }

        #blog img {
            width: 50%;
            max-width: 100%;
            height: 80vh;
            position: sticky;
            top: 0;
        }

        input {
            border: none;
            border-bottom: 1px solid grey;
            outline: none;
            padding: 15px;
        }

        #formContainer h1 {
            padding: 10px;
        }

        .circular-radio {
            width: 15px;
            height: 15px;
        }

        .date,
        .time {
            border: none;
            border-bottom: 1px solid grey;
            outline: none;
            padding: 15px;
            width: calc(50% - 5px);
            display: inline-block;
            box-sizing: border-box;
        }

        .symbol-container {
            display: flex;
            align-items: center;
        }

        .symbol {
            font-size: 24px;
            margin-right: 10px;
        }
         
        #ds{
            padding: 20px;
        }

        .violet-button {
    background-color:rgb(108, 25, 243) ;
    color: white;
    border: none;
  }
  .but{
    padding: 30px;
    padding-left: 250px;
    
  }

  .but>input{
     margin-left: 20px;
     border-radius: 8px;
     padding: 10px;
  }


  @media (max-width: 768px) {
    #main {
        padding: 20px;
    }

    #blog {
        flex-direction: column; 
    }

    #formContainer {
        padding: 20px;
        max-height: none; 
    }

    #blog img {
        width: 100%;
        height: auto; 
        position: static;
    }

    input, select {
        width: 100%; 
    }

    .circular-radio {
        width: 10px;
        height: 10px;
    }

    .date, .time {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .but {
        padding: 20px;
        padding-left: 0;
        text-align: center;
        
    }

    .but>input{
        margin-bottom: 20px;
        margin-left: 5px;
    }

   
}